openapi: 3.0.3
info:
  title: Dataverse Access Licenses API
  description: Open source research data repository software.
  version: '6.8'
servers:
- url: https://dataverse.unc.edu/api
  description: UNC Dataverse production instance
tags:
- name: Licenses
paths:
  /licenses:
    get:
      operationId: Licenses_getLicenses
      responses:
        '200':
          description: OK
      tags:
      - Licenses
    post:
      operationId: Licenses_addLicense
      responses:
        '200':
          description: OK
      tags:
      - Licenses
  /licenses/default:
    get:
      operationId: Licenses_getDefault
      responses:
        '200':
          description: OK
      tags:
      - Licenses
  /licenses/default/{id}:
    put:
      operationId: Licenses_setDefault
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Licenses
  /licenses/{id}:
    get:
      operationId: Licenses_getLicenseById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Licenses
    delete:
      operationId: Licenses_deleteLicenseById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Licenses
  /licenses/{id}/:active/{activeState}:
    put:
      operationId: Licenses_setActiveState
      parameters:
      - name: activeState
        in: path
        required: true
        schema:
          type: boolean
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Licenses
  /licenses/{id}/:sortOrder/{sortOrder}:
    put:
      operationId: Licenses_setSortOrder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      - name: sortOrder
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Licenses
