openapi: 3.0.3
info:
  title: Dataverse Access Mydata API
  description: Open source research data repository software.
  version: '6.8'
servers:
- url: https://dataverse.unc.edu/api
  description: UNC Dataverse production instance
tags:
- name: Mydata
paths:
  /mydata/retrieve:
    get:
      operationId: DataRetrieverAPI_retrieveMyDataAsJsonString
      parameters:
      - name: dataset_valid
        in: query
        schema:
          type: array
          items:
            type: boolean
      - name: dvobject_types
        in: query
        schema:
          type: array
          items:
            $ref: '#/components/schemas/DType'
      - name: filter_validities
        in: query
        schema:
          type: boolean
      - name: mydata_search_term
        in: query
        schema:
          type: string
      - name: published_states
        in: query
        schema:
          type: array
          items:
            type: string
      - name: role_ids
        in: query
        schema:
          type: array
          items:
            format: int64
            type: integer
      - name: selected_page
        in: query
        schema:
          format: int32
          type: integer
      - name: userIdentifier
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      tags:
      - Mydata
  /mydata/retrieve/collectionList:
    get:
      operationId: DataRetrieverAPI_retrieveMyCollectionList
      parameters:
      - name: userIdentifier
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Mydata
components:
  schemas:
    DType:
      enum:
      - Dataverse
      - Dataset
      - DataFile
      type: string
