openapi: 3.0.3
info:
  title: Dataverse Access API
  description: Open source research data repository software.
  version: '6.8'
servers:
- url: https://dataverse.unc.edu/api
  description: UNC Dataverse production instance
tags:
- name: Access
paths:
  /access/datafile/bundle/{fileId}:
    get:
      operationId: Access_datafileBundle
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      - name: fileMetadataId
        in: query
        schema:
          format: int64
          type: integer
      - name: gbrecs
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/BundleDownloadInstance'
      tags:
      - Access
  /access/datafile/{fileId}:
    get:
      operationId: Access_datafile
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          pattern: .+
          type: string
      - name: gbrecs
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Access
  /access/datafile/{fileId}/auxiliary:
    get:
      operationId: Access_listDatafileMetadataAux
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Access
  /access/datafile/{fileId}/auxiliary/{formatTag}/{formatVersion}:
    get:
      operationId: Access_downloadAuxiliaryFile
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      - name: formatTag
        in: path
        required: true
        schema:
          type: string
      - name: formatVersion
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DownloadInstance'
      tags:
      - Access
    delete:
      operationId: Access_deleteAuxiliaryFileWithVersion
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          format: int64
          type: integer
      - name: formatTag
        in: path
        required: true
        schema:
          type: string
      - name: formatVersion
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Access
  /access/datafile/{fileId}/auxiliary/{origin}:
    get:
      operationId: Access_listDatafileMetadataAuxByOrigin
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      - name: origin
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Access
  /access/datafile/{fileId}/metadata:
    get:
      operationId: Access_tabularDatafileMetadata
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      - name: exclude
        in: query
        schema:
          type: string
      - name: fileMetadataId
        in: query
        schema:
          format: int64
          type: integer
      - name: include
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/xml:
              schema:
                type: string
      tags:
      - Access
  /access/datafile/{fileId}/metadata/ddi:
    get:
      operationId: Access_tabularDatafileMetadataDDI
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      - name: exclude
        in: query
        schema:
          type: string
      - name: fileMetadataId
        in: query
        schema:
          format: int64
          type: integer
      - name: include
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/xml:
              schema:
                type: string
      tags:
      - Access
  /access/datafile/{id}/grantAccess/{identifier}:
    put:
      operationId: Access_grantFileAccess
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Access
  /access/datafile/{id}/listRequests:
    get:
      operationId: Access_listFileAccessRequests
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Access
  /access/datafile/{id}/rejectAccess/{identifier}:
    put:
      operationId: Access_rejectFileAccess
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Access
  /access/datafile/{id}/requestAccess:
    put:
      operationId: Access_requestFileAccess
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Access
  /access/datafile/{id}/revokeAccess/{identifier}:
    delete:
      operationId: Access_revokeFileAccess
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Access
  /access/datafile/{id}/userFileAccessRequested:
    get:
      operationId: Access_getUserFileAccessRequested
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Access
  /access/datafile/{id}/userPermissions:
    get:
      operationId: Access_getUserPermissionsOnFile
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Access
  /access/datafiles:
    post:
      operationId: Access_postDownloadDatafiles
      parameters:
      - name: gbrecs
        in: query
        schema:
          type: boolean
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: OK
      tags:
      - Access
  /access/datafiles/{fileIds}:
    get:
      operationId: Access_datafiles
      parameters:
      - name: fileIds
        in: path
        required: true
        schema:
          type: string
      - name: gbrecs
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Access
  /access/dataset/{id}:
    get:
      operationId: Access_downloadAllFromLatest
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: gbrecs
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Access
  /access/dataset/{id}/versions/{versionId}:
    get:
      operationId: Access_downloadAllFromVersion
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: versionId
        in: path
        required: true
        schema:
          type: string
      - name: gbrecs
        in: query
        schema:
          type: boolean
      - name: key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Access
  /access/dataverseFeaturedItemImage/{itemId}:
    get:
      operationId: Access_getDataverseFeatureItemImage
      parameters:
      - name: itemId
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
          content:
            image/png:
              schema:
                format: binary
                type: string
      tags:
      - Access
  /access/dsCardImage/{versionId}:
    get:
      operationId: Access_dsCardImage
      parameters:
      - name: versionId
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
          content:
            image/png:
              schema:
                format: binary
                type: string
      tags:
      - Access
  /access/dvCardImage/{dataverseId}:
    get:
      operationId: Access_dvCardImage
      parameters:
      - name: dataverseId
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
          content:
            image/png:
              schema:
                format: binary
                type: string
      tags:
      - Access
  /access/fileCardImage/{fileId}:
    get:
      operationId: Access_fileCardImage
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
          content:
            image/png:
              schema:
                format: binary
                type: string
      tags:
      - Access
  /access/{id}/allowAccessRequest:
    put:
      operationId: Access_allowAccessRequest
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Access
components:
  schemas:
    DatasetLock:
      type: object
      properties:
        id:
          format: int64
          type: integer
        startTime:
          format: date
          type: string
          example: 2022-03-10
        dataset:
          $ref: '#/components/schemas/Dataset'
        user:
          $ref: '#/components/schemas/AuthenticatedUser'
        reason:
          $ref: '#/components/schemas/Reason'
        info:
          type: string
    BuiltinUserServiceBean:
      type: object
      properties:
        indexService:
          $ref: '#/components/schemas/IndexServiceBean'
        passwordResetService:
          $ref: '#/components/schemas/PasswordResetServiceBean'
        em:
          type: object
    ExternalToolType:
      type: object
      properties:
        id:
          format: int64
          type: integer
        type:
          $ref: '#/components/schemas/Type2'
        externalTool:
          $ref: '#/components/schemas/ExternalTool'
    DatasetVersionUser:
      type: object
      properties:
        id:
          format: int64
          type: integer
        authenticatedUser:
          $ref: '#/components/schemas/AuthenticatedUser'
        datasetVersion:
          $ref: '#/components/schemas/DatasetVersion'
        lastUpdateDate:
          type: object
    DatasetExternalCitations:
      required:
      - dataset
      type: object
      properties:
        id:
          format: int64
          type: integer
        dataset:
          $ref: '#/components/schemas/Dataset'
        citedByUrl:
          type: string
    WorkflowStepSPI:
      type: object
    ClientHarvestRun:
      type: object
      properties:
        id:
          format: int64
          type: integer
        harvestingClient:
          $ref: '#/components/schemas/HarvestingClient'
        harvestResult:
          $ref: '#/components/schemas/RunResultType'
        startTime:
          format: date
          type: string
          example: 2022-03-10
        finishTime:
          format: date
          type: string
          example: 2022-03-10
        harvestedDatasetCount:
          format: int64
          type: integer
        failedDatasetCount:
          format: int64
          type: integer
        deletedDatasetCount:
          format: int64
          type: integer
        result:
          $ref: '#/components/schemas/RunResultType'
        resultLabel:
          type: string
        detailedResultLabel:
          type: string
        completed:
          type: boolean
        completedWithFailures:
          type: boolean
        failed:
          type: boolean
        inProgress:
          type: boolean
        interrupted:
          type: boolean
    Breadcrumb:
      type: object
      properties:
        breadcrumbText:
          type: string
        dvObject:
          $ref: '#/components/schemas/DvObject'
        url:
          type: string
        optionalUrlExtension:
          type: string
    DatasetFieldCompoundValue:
      type: object
      properties:
        id:
          format: int64
          type: integer
        displayOrder:
          format: int32
          type: integer
        parentDatasetField:
          $ref: '#/components/schemas/DatasetField'
        childDatasetFields:
          type: array
          items:
            $ref: '#/components/schemas/DatasetField'
        linkMap:
          type: object
          additionalProperties:
            type: boolean
        linkScheme:
          type: string
        linkValue:
          type: string
        displayValueMap:
          type: object
          additionalProperties:
            type: string
        link:
          type: string
        linkableField:
          type: boolean
        linkComponents:
          type: object
    VariableCategory:
      type: object
      properties:
        id:
          format: int64
          type: integer
        dataVariable:
          $ref: '#/components/schemas/DataVariable'
        value:
          type: string
        label:
          type: string
        missing:
          type: boolean
        catOrder:
          format: int32
          type: integer
        frequency:
          format: double
          type: number
        order:
          format: int32
          type: integer
    DataFileCategory:
      type: object
      properties:
        id:
          format: int64
          type: integer
        dataset:
          $ref: '#/components/schemas/Dataset'
        name:
          type: string
        fileMetadatas:
          type: array
          items:
            $ref: '#/components/schemas/FileMetadata'
    DataverseFieldTypeInputLevelServiceBean:
      type: object
      properties:
        em:
          type: object
    DataverseType:
      enum:
      - RESEARCHERS
      - RESEARCH_PROJECTS
      - JOURNALS
      - ORGANIZATIONS_INSTITUTIONS
      - TEACHING_COURSES
      - UNCATEGORIZED
      - LABORATORY
      - RESEARCH_GROUP
      - DEPARTMENT
      type: string
    DvObject:
      type: object
      properties:
        mergeable:
          type: boolean
        id:
          format: int64
          type: integer
        owner:
          $ref: '#/components/schemas/DvObject'
        publicationDate:
          type: object
        releaseUser:
          $ref: '#/components/schemas/AuthenticatedUser'
        createDate:
          type: object
        modificationTime:
          type: object
        indexTime:
          type: object
        permissionModificationTime:
          type: object
        permissionIndexTime:
          type: object
        storageIdentifier:
          type: string
        dtype:
          type: string
        dataverseFeaturedItems:
          type: array
          items:
            $ref: '#/components/schemas/DataverseFeaturedItem'
        protocol:
          type: string
        authority:
          type: string
        separator:
          type: string
        globalIdCreateTime:
          format: date
          type: string
          example: 2022-03-10
        identifier:
          type: string
        identifierRegistered:
          type: boolean
        alternativePersistentIndentifiers:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/AlternativePersistentIdentifier'
        previewImageAvailable:
          type: boolean
        storageQuota:
          $ref: '#/components/schemas/StorageQuota'
        previewImageFail:
          type: boolean
        creator:
          $ref: '#/components/schemas/AuthenticatedUser'
        roleAssignments:
          type: array
          items:
            $ref: '#/components/schemas/RoleAssignment'
        effectivelyPermissionRoot:
          type: boolean
        released:
          type: boolean
        displayName:
          type: string
        currentName:
          type: string
        instanceofDataverse:
          type: boolean
        instanceofDataset:
          type: boolean
        instanceofDataFile:
          type: boolean
        dataverseContext:
          $ref: '#/components/schemas/Dataverse'
        authorString:
          type: string
        targetUrl:
          type: string
        yearPublishedCreated:
          type: string
    DatasetVersion:
      type: object
      properties:
        id:
          format: int64
          type: integer
        UNF:
          type: string
        version:
          format: int64
          type: integer
        versionNumber:
          format: int64
          type: integer
        minorVersionNumber:
          format: int64
          type: integer
        deaccessionNote:
          maxLength: 1000
          minLength: 0
          type: string
        versionNote:
          maxLength: 1000
          minLength: 0
          type: string
        versionState:
          $ref: '#/components/schemas/VersionState'
        dataset:
          $ref: '#/components/schemas/Dataset'
        fileMetadatas:
          type: array
          items:
            $ref: '#/components/schemas/FileMetadata'
        termsOfUseAndAccess:
          $ref: '#/components/schemas/TermsOfUseAndAccess'
        datasetFields:
          type: array
          items:
            $ref: '#/components/schemas/DatasetField'
        createTime:
          format: date
          type: string
          example: 2022-03-10
        lastUpdateTime:
          format: date
          type: string
          example: 2022-03-10
        releaseTime:
          format: date
          type: string
          example: 2022-03-10
        archiveTime:
          format: date
          type: string
          example: 2022-03-10
        archivalCopyLocation:
          type: string
        deaccessionLink:
          maxLength: 1260
          minLength: 0
          type: string
        contributorNames:
          type: string
        dataverseSiteUrl:
          type: string
        jsonLd:
          type: string
        datasetVersionUsers:
          type: array
          items:
            $ref: '#/components/schemas/DatasetVersionUser'
        workflowComments:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowComment'
        curationStatuses:
          type: array
          items:
            $ref: '#/components/schemas/CurationStatus'
        dvd:
          $ref: '#/components/schemas/DatasetVersionDifference'
        archivalStatus:
          type: object
        uNF:
          type: string
        fileMetadatasSorted:
          type: array
          items:
            $ref: '#/components/schemas/FileMetadata'
        fileMetadatasSortedByLabelAndFolder:
          type: array
          items:
            $ref: '#/components/schemas/FileMetadata'
        inReview:
          type: boolean
        archivalCopyLocationStatus:
          type: string
        archivalCopyLocationMessage:
          type: string
        deaccessionLinkAsURLString:
          type: string
        versionDate:
          type: string
        versionYear:
          type: string
        userDatasets:
          type: array
          items:
            $ref: '#/components/schemas/DatasetVersionUser'
        versionContributorIdentifiers:
          type: array
          items:
            type: string
        defaultVersionDifference:
          $ref: '#/components/schemas/DatasetVersionDifference'
        priorVersionState:
          $ref: '#/components/schemas/VersionState'
        friendlyVersionNumber:
          type: string
        released:
          type: boolean
        published:
          type: boolean
        draft:
          type: boolean
        workingCopy:
          type: boolean
        archived:
          type: boolean
        deaccessioned:
          type: boolean
        retiredCopy:
          type: boolean
        minorUpdate:
          type: boolean
        hasPackageFile:
          type: boolean
        hasNonPackageFile:
          type: boolean
        hasRestrictedFile:
          type: boolean
        mostRecentlyReleasedVersion:
          $ref: '#/components/schemas/DatasetVersion'
        largestMinorRelease:
          $ref: '#/components/schemas/DatasetVersion'
        latestVersion:
          type: boolean
        title:
          type: string
        productionDate:
          type: string
        description:
          type: string
        descriptions:
          type: array
          items:
            type: string
        descriptionPlainText:
          type: string
        descriptionsPlainTextTruncated:
          type: string
        descriptionHtmlEscaped:
          type: string
        datasetContacts:
          type: array
          items: {}
        datasetProducers:
          type: array
          items: {}
        datasetAuthors:
          type: array
          items:
            $ref: '#/components/schemas/DatasetAuthor'
        funders:
          type: array
          items:
            type: string
        timePeriodsCovered:
          type: array
          items:
            type: string
        datesOfCollection:
          type: array
          items:
            type: string
        datasetAuthorNames:
          type: array
          items:
            type: string
        datasetSubjects:
          type: array
          items:
            type: string
        topicClassifications:
          type: array
          items:
            type: string
        kindOfData:
          type: array
          items:
            type: string
        languages:
          type: array
          items:
            type: string
        spatialCoverages:
          type: array
          items:
            type: string
        keywords:
          type: array
          items:
            type: string
        relatedMaterial:
          type: array
          items:
            type: string
        dataSource:
          type: array
          items:
            type: string
        geographicCoverage:
          type: array
          items: {}
        relatedPublications:
          type: array
          items:
            $ref: '#/components/schemas/DatasetRelPublication'
        uniqueGrantAgencyValues:
          type: array
          items:
            type: string
        seriesTitles:
          type: array
          items:
            type: string
        datasetProducerNames:
          type: array
          items:
            type: string
        citation:
          type: string
        citationDate:
          format: date
          type: string
          example: 2022-03-10
        distributionDate:
          type: string
        distributorName:
          type: string
        datasetDistributors:
          type: array
          items:
            $ref: '#/components/schemas/DatasetDistributor'
        distributorNames:
          type: string
        authorsStr:
          type: string
        flatDatasetFields:
          type: array
          items:
            $ref: '#/components/schemas/DatasetField'
        semanticVersion:
          type: string
        valid:
          type: boolean
        publicationDateAsString:
          type: string
        localeLastUpdateTime:
          type: string
        currentCurationStatus:
          $ref: '#/components/schemas/CurationStatus'
    IndexServiceBean:
      type: object
      properties:
        em:
          type: object
        dvObjectService:
          $ref: '#/components/schemas/DvObjectServiceBean'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        datasetVersionService:
          $ref: '#/components/schemas/DatasetVersionServiceBean'
        dataverseUserServiceBean:
          $ref: '#/components/schemas/BuiltinUserServiceBean'
        permissionService:
          $ref: '#/components/schemas/PermissionServiceBean'
        userServiceBean:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        searchPermissionsService:
          $ref: '#/components/schemas/SearchPermissionsServiceBean'
        solrIndexService:
          $ref: '#/components/schemas/SolrIndexServiceBean'
        dsLinkingService:
          $ref: '#/components/schemas/DatasetLinkingServiceBean'
        dvLinkingService:
          $ref: '#/components/schemas/DataverseLinkingServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        solrClientService:
          $ref: '#/components/schemas/SolrClientService'
        solrClientIndexService:
          $ref: '#/components/schemas/SolrClientIndexService'
        dataFileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        datasetFieldService:
          $ref: '#/components/schemas/DatasetFieldServiceBean'
        datasetVersionFilesServiceBean:
          $ref: '#/components/schemas/DatasetVersionFilesServiceBean'
        rootDataverseCached:
          $ref: '#/components/schemas/Dataverse'
        variableMetadataUtil:
          $ref: '#/components/schemas/VariableMetadataUtil'
        indexPermitWaitTimer:
          type: object
        indexTimer:
          type: object
    OptionalAccessService:
      type: object
      properties:
        serviceName:
          type: string
        serviceDescription:
          type: string
        contentMimeType:
          type: string
        serviceArguments:
          type: string
        mimeType:
          type: string
    StorageQuota:
      type: object
      properties:
        id:
          format: int64
          type: integer
        definitionPoint:
          $ref: '#/components/schemas/DvObject'
        allocation:
          format: int64
          type: integer
    StorageUseServiceBean:
      type: object
      properties:
        em:
          type: object
    DvObjectServiceBean:
      type: object
      properties:
        em:
          type: object
        pidProviderFactoryBean:
          $ref: '#/components/schemas/PidProviderFactoryBean'
        allHarvestedDataverseIds:
          type: array
          items:
            format: int64
            type: integer
    DataverseFacet:
      type: object
      properties:
        id:
          format: int64
          type: integer
        dataverse:
          $ref: '#/components/schemas/Dataverse'
        datasetFieldType:
          $ref: '#/components/schemas/DatasetFieldType'
        displayOrder:
          format: int32
          type: integer
    UserNotificationServiceBean:
      type: object
      properties:
        mailService:
          $ref: '#/components/schemas/MailServiceBean'
        em:
          type: object
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
    CustomQuestion:
      required:
      - questionString
      type: object
      properties:
        id:
          format: int64
          type: integer
        guestbook:
          $ref: '#/components/schemas/Guestbook'
        customQuestionResponses:
          type: array
          items:
            $ref: '#/components/schemas/CustomQuestionResponse'
        customQuestionValues:
          type: array
          items:
            $ref: '#/components/schemas/CustomQuestionValue'
        questionType:
          type: string
        questionString:
          pattern: \S
          type: string
        required:
          type: boolean
        hidden:
          type: boolean
        displayOrder:
          format: int32
          type: integer
        customQuestionValueString:
          type: string
    VariableRangeItem:
      type: object
      properties:
        id:
          format: int64
          type: integer
        value:
          type: number
        dataVariable:
          $ref: '#/components/schemas/DataVariable'
    OIDCAuthProvider:
      type: object
      properties:
        passwordUpdateAllowed:
          type: boolean
        userDeletionAllowed:
          type: boolean
        emailVerified:
          type: boolean
        friendlyName:
          type: string
        subTitle:
          type: string
        clientId:
          type: string
        clientSecret:
          type: string
        baseUserEndpoint:
          type: string
        redirectUrl:
          type: string
        userInfoUpdateAllowed:
          type: boolean
        info:
          $ref: '#/components/schemas/AuthenticationProviderDisplayInfo'
        order:
          format: int32
          type: integer
        iconHtml:
          type: string
          nullable: true
        spacedScope:
          type: string
        oAuthProvider:
          type: boolean
        id:
          type: string
        title:
          type: string
        scope:
          type: array
          items:
            type: string
        issuer:
          type: object
        clientAuth:
          type: object
        idpMetadata:
          type: object
        pkceEnabled:
          type: boolean
        pkceMethod:
          type: object
        verifierCache:
          type: object
        metadata:
          type: object
        apiInstance:
          type: object
    UserNotification:
      type: object
      properties:
        id:
          format: int64
          type: integer
        user:
          $ref: '#/components/schemas/AuthenticatedUser'
        requestor:
          $ref: '#/components/schemas/AuthenticatedUser'
        sendDate:
          type: object
        readNotification:
          type: boolean
        type:
          $ref: '#/components/schemas/Type'
        objectId:
          format: int64
          type: integer
        additionalInfo:
          type: string
        displayAsRead:
          type: boolean
        roleString:
          type: string
        emailed:
          type: boolean
        theObject: {}
        sendDateTimestamp:
          type: object
        localeSendDate:
          type: string
    SearchService:
      type: object
      properties:
        serviceName:
          type: string
        displayName:
          type: string
        solrSearchService:
          $ref: '#/components/schemas/SearchService'
    DifferenceSummaryItem:
      type: object
      properties:
        displayName:
          type: string
        changed:
          format: int32
          type: integer
        added:
          format: int32
          type: integer
        deleted:
          format: int32
          type: integer
        replaced:
          format: int32
          type: integer
        multiple:
          type: boolean
    SolrClientIndexService:
      type: object
      properties:
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        solrUrl:
          type: string
        solrClient:
          type: object
    FileDifferenceSummaryGroup:
      type: object
      properties:
        name:
          type: string
        fileDifferenceSummaryItems:
          type: array
          items:
            $ref: '#/components/schemas/FileDifferenceSummaryItem'
    IndexBatchServiceBean:
      type: object
      properties:
        em:
          type: object
        indexService:
          $ref: '#/components/schemas/IndexServiceBean'
        solrIndexService:
          $ref: '#/components/schemas/SolrIndexServiceBean'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        dvObjectService:
          $ref: '#/components/schemas/DvObjectServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        contentInDatabaseButStaleInOrMissingFromSolr:
          type: object
        contentInSolrButNotDatabase:
          type: object
        permissionsInDatabaseButStaleInOrMissingFromSolr:
          type: object
        permissionsInSolrButNotDatabase:
          type: object
    AuxiliaryFile:
      type: object
      properties:
        id:
          format: int64
          type: integer
        dataFile:
          $ref: '#/components/schemas/DataFile'
        formatTag:
          type: string
        formatVersion:
          type: string
        origin:
          type: string
        isPublic:
          type: boolean
        contentType:
          type: string
        fileSize:
          format: int64
          type: integer
        checksum:
          type: string
        type:
          type: string
        typeFriendly:
          type: string
    Dataverse:
      required:
      - dataverseType
      type: object
      properties:
        mergeable:
          type: boolean
        id:
          format: int64
          type: integer
        publicationDate:
          type: object
        releaseUser:
          $ref: '#/components/schemas/AuthenticatedUser'
        createDate:
          type: object
        modificationTime:
          type: object
        indexTime:
          type: object
        permissionModificationTime:
          type: object
        permissionIndexTime:
          type: object
        storageIdentifier:
          type: string
        dtype:
          type: string
        dataverseFeaturedItems:
          type: array
          items:
            $ref: '#/components/schemas/DataverseFeaturedItem'
        protocol:
          type: string
        authority:
          type: string
        separator:
          type: string
        globalIdCreateTime:
          format: date
          type: string
          example: 2022-03-10
        identifier:
          type: string
        identifierRegistered:
          type: boolean
        alternativePersistentIndentifiers:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/AlternativePersistentIdentifier'
        previewImageAvailable:
          type: boolean
        storageQuota:
          $ref: '#/components/schemas/StorageQuota'
        previewImageFail:
          type: boolean
        creator:
          $ref: '#/components/schemas/AuthenticatedUser'
        roleAssignments:
          type: array
          items:
            $ref: '#/components/schemas/RoleAssignment'
        released:
          type: boolean
        instanceofDataverse:
          type: boolean
        instanceofDataset:
          type: boolean
        instanceofDataFile:
          type: boolean
        dataverseContext:
          $ref: '#/components/schemas/Dataverse'
        authorString:
          type: string
        targetUrl:
          type: string
        yearPublishedCreated:
          type: string
        storageDriver:
          type: string
        metadataLanguage:
          type: string
        guestbookAtRequest:
          type: boolean
        pidGeneratorSpecs:
          type: string
        pidGenerator:
          $ref: '#/components/schemas/PidProvider'
        storageUse:
          $ref: '#/components/schemas/StorageUse'
        datasetFileCountLimit:
          format: int32
          type: integer
        externalLabelSetName:
          type: string
        owner:
          $ref: '#/components/schemas/Dataverse'
        effectivelyPermissionRoot:
          type: boolean
        effectiveStorageDriverId:
          type: string
        storageDriverId:
          type: string
        effectiveMetadataLanguage:
          type: string
        effectiveGuestbookEntryAtRequest:
          type: boolean
        guestbookEntryAtRequest:
          type: string
        effectiveCurationLabelSetName:
          type: string
        curationLabelSetName:
          type: string
        pidGeneratorId:
          type: string
        effectivePidGenerator:
          $ref: '#/components/schemas/PidProvider'
        effectiveDatasetFileCountLimit:
          format: int32
          type: integer
        name:
          type: string
        alias:
          maxLength: 60
          type: string
        description:
          type: string
        dataverseType:
          $ref: '#/components/schemas/DataverseType'
        permissionRoot:
          type: boolean
        affiliation:
          type: string
        roles:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/DataverseRole'
        defaultContributorRole:
          $ref: '#/components/schemas/DataverseRole'
        metadataBlockRoot:
          type: boolean
        facetRoot:
          type: boolean
        themeRoot:
          type: boolean
        templateRoot:
          type: boolean
        dataverseTheme:
          $ref: '#/components/schemas/DataverseTheme'
        dataverseContacts:
          type: array
          items:
            $ref: '#/components/schemas/DataverseContact'
        metadataBlocks:
          type: array
          items:
            $ref: '#/components/schemas/MetadataBlock'
        dataverseFacets:
          type: array
          items:
            $ref: '#/components/schemas/DataverseFacet'
        citationDatasetFieldTypes:
          type: array
          items:
            $ref: '#/components/schemas/DatasetFieldType'
        dataverseSubjects:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/ControlledVocabularyValue'
        dataverseFeaturedDataverses:
          type: array
          items:
            $ref: '#/components/schemas/DataverseFeaturedDataverse'
        dataverseFeaturingDataverses:
          type: array
          items:
            $ref: '#/components/schemas/DataverseFeaturedDataverse'
        dataverseLinkingDataverses:
          type: array
          items:
            $ref: '#/components/schemas/DataverseLinkingDataverse'
        dataverseLinkedDataverses:
          type: array
          items:
            $ref: '#/components/schemas/DataverseLinkingDataverse'
        datasetLinkingDataverses:
          type: array
          items:
            $ref: '#/components/schemas/DatasetLinkingDataverse'
        dataverseFieldTypeInputLevels:
          type: array
          items:
            $ref: '#/components/schemas/DataverseFieldTypeInputLevel'
        defaultTemplate:
          $ref: '#/components/schemas/Template'
        savedSearches:
          type: array
          items:
            $ref: '#/components/schemas/SavedSearch'
        templates:
          type: array
          items:
            $ref: '#/components/schemas/Template'
        guestbooks:
          type: array
          items:
            $ref: '#/components/schemas/Guestbook'
        harvestingClientConfigs:
          type: array
          items:
            $ref: '#/components/schemas/HarvestingClient'
        metadataBlockFacetRoot:
          type: boolean
        metadataBlockFacets:
          type: array
          items:
            $ref: '#/components/schemas/DataverseMetadataBlockFacet'
        guestbookRoot:
          type: boolean
        requireFilesToPublishDataset:
          type: boolean
        filePIDsEnabled:
          type: boolean
        friendlyCategoryName:
          type: string
        friendlyCategoryKey:
          type: string
        indexableCategoryName:
          type: string
        parentGuestbooks:
          type: array
          items:
            $ref: '#/components/schemas/Guestbook'
        availableGuestbooks:
          type: array
          items:
            $ref: '#/components/schemas/Guestbook'
        parentTemplates:
          type: array
          items:
            $ref: '#/components/schemas/Template'
        metadataRootId:
          format: int64
          type: integer
        guestbookRootDataverseName:
          type: string
        templateRootDataverseName:
          type: string
        themeRootDataverseName:
          type: string
        metadataRootDataverseName:
          type: string
        facetRootDataverseName:
          type: string
        logoOwnerId:
          type: string
        facetRootId:
          format: int64
          type: integer
        contactEmails:
          type: string
        owners:
          type: array
          items:
            $ref: '#/components/schemas/Dataverse'
        effectiveRequiresFilesToPublishDataset:
          type: boolean
        depositTermsOfUse:
          type: string
        displayName:
          type: string
        currentName:
          type: string
        localURL:
          type: string
    DatasetVersionDifference:
      type: object
      properties:
        newVersion:
          $ref: '#/components/schemas/DatasetVersion'
        originalVersion:
          $ref: '#/components/schemas/DatasetVersion'
        detailDataByBlock:
          type: array
          items:
            type: array
            items:
              type: object
              properties:
                id:
                  format: int64
                  type: integer
                datasetFieldType:
                  $ref: '#/components/schemas/DatasetFieldType'
                datasetVersion:
                  $ref: '#/components/schemas/DatasetVersion'
                template:
                  $ref: '#/components/schemas/Template'
                parentDatasetFieldCompoundValue:
                  $ref: '#/components/schemas/DatasetFieldCompoundValue'
                datasetFieldCompoundValues:
                  type: array
                  items:
                    $ref: '#/components/schemas/DatasetFieldCompoundValue'
                datasetFieldValues:
                  type: array
                  items:
                    $ref: '#/components/schemas/DatasetFieldValue'
                controlledVocabularyValues:
                  type: array
                  items:
                    $ref: '#/components/schemas/ControlledVocabularyValue'
                validationMessage:
                  type: string
                required:
                  type: boolean
                hasRequiredChildren:
                  type: boolean
                include:
                  type: boolean
                singleValue:
                  $ref: '#/components/schemas/DatasetFieldValue'
                singleControlledVocabularyValue:
                  $ref: '#/components/schemas/ControlledVocabularyValue'
                value:
                  type: string
                displayValue:
                  type: string
                rawValue:
                  type: string
                compoundDisplayValue:
                  type: string
                compoundRawValue:
                  type: string
                values:
                  type: array
                  items:
                    type: string
                rawValuesList:
                  type: array
                  items:
                    type: string
                values_nondisplay:
                  type: array
                  items:
                    type: string
                displayValues:
                  type: array
                  items:
                    type: string
                valuesWithoutNaValues:
                  type: array
                  items:
                    type: string
                empty:
                  type: boolean
                emptyForDisplay:
                  type: boolean
                hasRequiredChildrenDV:
                  type: boolean
                dataverse:
                  $ref: '#/components/schemas/Dataverse'
        datasetFilesDiffList:
          type: array
          items:
            $ref: '#/components/schemas/datasetFileDifferenceItem'
        datasetFilesReplacementList:
          type: array
          items:
            $ref: '#/components/schemas/datasetReplaceFileItem'
        addedFiles:
          type: array
          items:
            $ref: '#/components/schemas/FileMetadata'
        removedFiles:
          type: array
          items:
            $ref: '#/components/schemas/FileMetadata'
        changedFileMetadata:
          type: array
          items:
            $ref: '#/components/schemas/FileMetadata'
        changedFileMetadataDiff:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: array
              items:
                type: string
        changedVariableMetadata:
          type: array
          items:
            $ref: '#/components/schemas/FileMetadata'
        replacedFiles:
          type: array
          items:
            description: Cyclic reference to edu.harvard.iq.dataverse.FileMetadata
            type: object
        changedTermsAccess:
          type: array
          items: {}
        summaryDataForNote:
          type: array
          items:
            $ref: '#/components/schemas/SummaryNote'
        blockDataForNote:
          type: array
          items:
            $ref: '#/components/schemas/SummaryNote'
        differenceSummaryGroups:
          type: array
          items:
            $ref: '#/components/schemas/DifferenceSummaryGroup'
        fileNote:
          type: string
        editSummaryForLog:
          type: string
        summaryDifferenceAsJson:
          type: object
        fileSummaryAsJson:
          type: object
    Type:
      enum:
      - ASSIGNROLE
      - REVOKEROLE
      - CREATEDV
      - CREATEDS
      - CREATEACC
      - SUBMITTEDDS
      - RETURNEDDS
      - PUBLISHEDDS
      - REQUESTFILEACCESS
      - GRANTFILEACCESS
      - REJECTFILEACCESS
      - FILESYSTEMIMPORT
      - CHECKSUMIMPORT
      - CHECKSUMFAIL
      - CONFIRMEMAIL
      - APIGENERATED
      - INGESTCOMPLETED
      - INGESTCOMPLETEDWITHERRORS
      - PUBLISHFAILED_PIDREG
      - WORKFLOW_SUCCESS
      - WORKFLOW_FAILURE
      - STATUSUPDATED
      - DATASETCREATED
      - DATASETMENTIONED
      - GLOBUSUPLOADCOMPLETED
      - GLOBUSUPLOADCOMPLETEDWITHERRORS
      - GLOBUSDOWNLOADCOMPLETED
      - GLOBUSDOWNLOADCOMPLETEDWITHERRORS
      - REQUESTEDFILEACCESS
      - GLOBUSUPLOADREMOTEFAILURE
      - GLOBUSUPLOADLOCALFAILURE
      - PIDRECONCILED
      type: string
    datasetReplaceFileItem:
      type: object
      properties:
        fdi:
          $ref: '#/components/schemas/datasetFileDifferenceItem'
        leftColumn:
          type: string
        file1Id:
          type: string
        file2Id:
          type: string
        file1ChecksumType:
          $ref: '#/components/schemas/ChecksumType'
        file2ChecksumType:
          $ref: '#/components/schemas/ChecksumType'
        file1ChecksumValue:
          type: string
        file2ChecksumValue:
          type: string
    Guestbook:
      type: object
      properties:
        id:
          format: int64
          type: integer
        dataverse:
          $ref: '#/components/schemas/Dataverse'
        customQuestions:
          type: array
          items:
            $ref: '#/components/schemas/CustomQuestion'
        name:
          type: string
        enabled:
          type: boolean
        nameRequired:
          type: boolean
        emailRequired:
          type: boolean
        institutionRequired:
          type: boolean
        positionRequired:
          type: boolean
        createTime:
          format: date
          type: string
          example: 2022-03-10
        deletable:
          type: boolean
        usageCount:
          format: int64
          type: integer
        usageCountDataverse:
          format: int64
          type: integer
        responseCount:
          format: int64
          type: integer
        responseCountDataverse:
          format: int64
          type: integer
        createDate:
          type: string
        requiredAccountInformation:
          type: array
          items:
            type: string
        optionalAccountInformation:
          type: array
          items:
            type: string
        requiredQuestionsList:
          type: array
          items:
            type: string
        optionalQuestionsList:
          type: array
          items:
            type: string
    DatasetFieldServiceBean:
      type: object
      properties:
        em:
          type: object
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        cvocMap:
          type: object
          additionalProperties: {}
        cvocMapByTermUri:
          type: object
          additionalProperties: {}
        cvocFieldSet:
          uniqueItems: true
          type: array
          items:
            format: int64
            type: integer
        oldHash:
          type: string
    PasswordValidatorServiceBean:
      type: object
      properties:
        goodStrength:
          format: int32
          type: integer
        maxLength:
          format: int32
          type: integer
        minLength:
          format: int32
          type: integer
        numberOfCharacteristics:
          format: int32
          type: integer
        numberOfConsecutiveDigitsAllowed:
          format: int32
          type: integer
        characterRules:
          type: array
          items: {}
        dictionaries:
          type: string
        messageResolver:
          type: object
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
    IngestServiceBean:
      type: object
      properties:
        variableService:
          $ref: '#/components/schemas/VariableServiceBean'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        fieldService:
          $ref: '#/components/schemas/DatasetFieldServiceBean'
        fileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        auxiliaryFileService:
          $ref: '#/components/schemas/AuxiliaryFileServiceBean'
        storageUseService:
          $ref: '#/components/schemas/StorageUseServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        queue:
          type: object
        factory:
          type: object
    SolrClientService:
      type: object
      properties:
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        solrUrl:
          type: string
        solrClient:
          type: object
    AuthenticationProviderFactory:
      type: object
      properties:
        alias:
          type: string
        info:
          type: string
    SavedSearchFilterQuery:
      type: object
      properties:
        id:
          format: int64
          type: integer
        filterQuery:
          type: string
        savedSearch:
          $ref: '#/components/schemas/SavedSearch'
    SummaryNote:
      type: object
      properties:
        dsfo:
          $ref: '#/components/schemas/DatasetField'
        added:
          format: int32
          type: integer
        deleted:
          format: int32
          type: integer
        changed:
          format: int32
          type: integer
        datasetField:
          $ref: '#/components/schemas/DatasetField'
    SavedSearchServiceBean:
      type: object
      properties:
        searchService:
          $ref: '#/components/schemas/SearchServiceFactory'
        dvObjectService:
          $ref: '#/components/schemas/DvObjectServiceBean'
        dsLinkingService:
          $ref: '#/components/schemas/DatasetLinkingServiceBean'
        dvLinkingService:
          $ref: '#/components/schemas/DataverseLinkingServiceBean'
        commandEngine:
          $ref: '#/components/schemas/EjbDataverseEngine'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        resultString:
          type: string
        em:
          type: object
    OAuth2TokenData:
      type: object
      properties:
        id:
          format: int64
          type: integer
        user:
          $ref: '#/components/schemas/AuthenticatedUser'
        oauthProviderId:
          type: string
        expiryDate:
          type: object
        accessToken:
          type: string
        refreshToken:
          type: string
        tokenType:
          type: string
        rawResponse:
          type: string
    SystemConfig:
      type: object
      properties:
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        authenticationService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        buildNumber:
          type: string
        version:
          type: string
        solrHostColonPort:
          type: string
        provCollectionEnabled:
          type: boolean
        metricsCacheTimeoutMinutes:
          format: int32
          type: integer
        minutesUntilConfirmEmailTokenExpires:
          format: int32
          type: integer
        dataverseSiteUrl:
          type: string
        pageURLWithQueryString:
          type: string
        guidesBaseUrl:
          type: string
        guidesLanguage:
          type: string
        guidesVersion:
          type: string
        metricsUrl:
          type: string
        zipDownloadLimit:
          format: int64
          type: integer
        zipUploadFilesLimit:
          format: int32
          type: integer
        loginSessionTimeout:
          format: int32
          type: integer
        multipleUploadFilesLimit:
          format: int32
          type: integer
        guestbookResponsesPageDisplayLimit:
          format: int64
          type: integer
        uploadLogoSizeLimit:
          format: int64
          type: integer
        thumbnailSizeLimitImage:
          format: int64
          type: integer
        thumbnailSizeLimitPDF:
          format: int64
          type: integer
        thumbnailGenerationDisabledForImages:
          type: boolean
        thumbnailGenerationDisabledForPDF:
          type: boolean
        applicationTermsOfUse:
          type: string
        apiTermsOfUse:
          type: string
        applicationPrivacyPolicyUrl:
          type: string
        filesOnDatasetPageFromSolr:
          type: boolean
        searchHighlightFragmentSize:
          format: int32
          type: integer
        tabularIngestSizeLimit:
          format: int64
          type: integer
        oAIServerEnabled:
          type: boolean
        timerServer:
          type: boolean
        footerCopyrightAndYear:
          type: string
        fileFixityChecksumAlgorithm:
          $ref: '#/components/schemas/ChecksumType'
        defaultAuthProvider:
          type: string
        nameOfInstallation:
          type: string
        devOAuthAccountType:
          $ref: '#/components/schemas/DevOAuthAccountType'
        oAuth2CallbackUrl:
          type: string
        shibPassiveLoginEnabled:
          type: boolean
        shibAttributeCharacterSetConversionEnabled:
          type: boolean
        pVDictionaries:
          type: string
        pVGoodStrength:
          format: int32
          type: integer
        pVMinLength:
          format: int32
          type: integer
        pVMaxLength:
          format: int32
          type: integer
        pVCharacterRules:
          type: array
          items: {}
        pVNumberOfCharacteristics:
          format: int32
          type: integer
        pVNumberOfConsecutiveDigitsAllowed:
          format: int32
          type: integer
        publicInstall:
          type: boolean
        rsyncUpload:
          type: boolean
          deprecated: true
        globusUpload:
          type: boolean
        webloaderUpload:
          type: boolean
        hTTPUpload:
          type: boolean
        rsyncOnly:
          type: boolean
          deprecated: true
        rsyncDownload:
          type: boolean
          deprecated: true
        hTTPDownload:
          type: boolean
        globusDownload:
          type: boolean
        globusFileDownload:
          type: boolean
        globusBatchLookupSize:
          format: int32
          type: integer
        uploadMethodCount:
          format: int32
          type: integer
        allowCustomTerms:
          type: boolean
        mDCLogPath:
          type: string
        datafileValidationOnPublishEnabled:
          type: boolean
        externalDataverseValidationEnabled:
          type: boolean
        externalDatasetValidationEnabled:
          type: boolean
        dataverseValidationExecutable:
          type: string
        datasetValidationExecutable:
          type: string
        dataverseValidationFailureMsg:
          type: string
        dataverseUpdateValidationFailureMsg:
          type: string
        datasetValidationFailureMsg:
          type: string
        externalValidationAdminOverrideEnabled:
          type: boolean
        datasetValidationSizeLimit:
          format: int64
          type: integer
        fileValidationSizeLimit:
          format: int64
          type: integer
        curationLabels:
          type: object
          additionalProperties: {}
        storageQuotasEnforced:
          type: boolean
        testStorageQuotaLimit:
          format: int64
          type: integer
        storingIngestedFilesWithHeaders:
          type: boolean
        rateLimitsJson:
          type: string
        rateLimitingDefaultCapacityTiers:
          type: string
        contactFeedbackMessageSizeLimit:
          format: int64
          type: integer
    DatasetVersionServiceBean:
      type: object
      properties:
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        datafileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        authService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        indexService:
          $ref: '#/components/schemas/IndexServiceBean'
        em:
          type: object
        unarchivedDatasetVersions:
          type: array
          items:
            $ref: '#/components/schemas/DatasetVersion'
    MailServiceBean:
      type: object
      properties:
        userNotificationService:
          $ref: '#/components/schemas/UserNotificationServiceBean'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        dataFileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        versionService:
          $ref: '#/components/schemas/DatasetVersionServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        permissionService:
          $ref: '#/components/schemas/PermissionServiceBean'
        groupService:
          $ref: '#/components/schemas/GroupServiceBean'
        confirmEmailService:
          $ref: '#/components/schemas/ConfirmEmailServiceBean'
        session:
          type: object
        systemAddress:
          type: object
          nullable: true
        supportAddress:
          type: object
          nullable: true
    DataverseSession:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        permissionsService:
          $ref: '#/components/schemas/PermissionServiceBean'
        usersSvc:
          $ref: '#/components/schemas/BuiltinUserServiceBean'
        logSvc:
          $ref: '#/components/schemas/ActionLogServiceBean'
        settingsWrapper:
          $ref: '#/components/schemas/SettingsWrapper'
        headerFragment:
          $ref: '#/components/schemas/DataverseHeaderFragment'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        bannerMessageService:
          $ref: '#/components/schemas/BannerMessageServiceBean'
        authenticationService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        statusDismissed:
          type: boolean
        dismissedMessages:
          type: array
          items:
            $ref: '#/components/schemas/BannerMessage'
        debug:
          type: boolean
        localeCode:
          type: string
        localeTitle:
          type: string
    RoleAssignee:
      type: object
      properties:
        identifier:
          type: string
        displayInfo:
          $ref: '#/components/schemas/RoleAssigneeDisplayInfo'
        sortByString:
          type: string
    DataverseLinkingDataverse:
      type: object
      properties:
        id:
          format: int64
          type: integer
        dataverse:
          $ref: '#/components/schemas/Dataverse'
        linkingDataverse:
          $ref: '#/components/schemas/Dataverse'
        linkCreateTime:
          format: date
          type: string
          example: 2022-03-10
    MetadataBlock:
      type: object
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
        displayName:
          type: string
        namespaceUri:
          type: string
        datasetFieldTypes:
          type: array
          items:
            $ref: '#/components/schemas/DatasetFieldType'
        localDisplayOnCreate:
          type: boolean
        owner:
          $ref: '#/components/schemas/Dataverse'
        empty:
          type: boolean
        selected:
          type: boolean
        hasRequired:
          type: boolean
        showDatasetFieldTypes:
          type: boolean
        assignedNamespaceUri:
          type: string
        jsonLDNamespace:
          $ref: '#/components/schemas/JsonLDNamespace'
        displayOnCreate:
          type: boolean
        required:
          type: boolean
        idString:
          type: string
        localeDisplayName:
          type: string
        localeDisplayFacet:
          type: string
    VarGroup:
      type: object
      properties:
        id:
          format: int64
          type: integer
        label:
          type: string
        fileMetadata:
          $ref: '#/components/schemas/FileMetadata'
        varsInGroup:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/DataVariable'
    Reason:
      enum:
      - Ingest
      - Workflow
      - InReview
      - DcmUpload
      - GlobusUpload
      - finalizePublication
      - EditInProgress
      - FileValidationFailed
      type: string
    RoleAssigneeServiceBean:
      type: object
      properties:
        em:
          type: object
        authSvc:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        groupSvc:
          $ref: '#/components/schemas/GroupServiceBean'
        explicitGroupSvc:
          $ref: '#/components/schemas/ExplicitGroupServiceBean'
        dataverseRoleService:
          $ref: '#/components/schemas/DataverseRoleServiceBean'
        predefinedRoleAssignees:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/RoleAssignee'
    CategoryMetadata:
      type: object
      properties:
        id:
          format: int64
          type: integer
        category:
          $ref: '#/components/schemas/VariableCategory'
        variableMetadata:
          $ref: '#/components/schemas/VariableMetadata'
        wfreq:
          format: double
          type: number
    Permission:
      enum:
      - AddDataverse
      - AddDataset
      - ViewUnpublishedDataverse
      - ViewUnpublishedDataset
      - DownloadFile
      - EditDataverse
      - EditDataset
      - ManageDataversePermissions
      - ManageDatasetPermissions
      - ManageFilePermissions
      - PublishDataverse
      - PublishDataset
      - LinkDataverse
      - LinkDataset
      - DeleteDataverse
      - DeleteDatasetDraft
      type: string
    TemplateServiceBean:
      type: object
      properties:
        indexService:
          $ref: '#/components/schemas/IndexServiceBean'
        em:
          type: object
    OAIRecordServiceBean:
      type: object
      properties:
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        em:
          type: object
        earliestDate:
          format: date-time
          type: string
          example: 2022-03-10 16:15:50+00:00
    PidProviderFactoryBean:
      type: object
      properties:
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        dvObjectService:
          $ref: '#/components/schemas/DvObjectServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        loader:
          type: array
          items:
            $ref: '#/components/schemas/PidProviderFactory'
        pidProviderFactoryMap:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PidProviderFactory'
        producer:
          type: string
        defaultPidGenerator:
          $ref: '#/components/schemas/PidProvider'
    DataAccessRequest:
      type: object
      properties:
        file:
          $ref: '#/components/schemas/DataFile'
        requestParameters:
          type: object
          additionalProperties:
            type: string
    CacheFactoryBean:
      type: object
      properties:
        rateLimitCache:
          type: array
          items:
            type: string
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        manager:
          type: object
    VariableType:
      enum:
      - NUMERIC
      - CHARACTER
      type: string
    VariableMetadataUtil:
      type: object
    DataFileTag:
      type: object
      properties:
        id:
          format: int64
          type: integer
        dataFile:
          $ref: '#/components/schemas/DataFile'
        type:
          $ref: '#/components/schemas/TagType'
        typeByLabel:
          type: string
        typeLabel:
          type: string
        geospatialTag:
          type: boolean
    DataverseTheme:
      type: object
      properties:
        id:
          format: int64
          type: integer
        logoFormat:
          $ref: '#/components/schemas/ImageFormat'
        logoAlignment:
          $ref: '#/components/schemas/Alignment'
        logoBackgroundColor:
          type: string
        logo:
          type: string
        logoThumbnail:
          type: string
        logoFooterAlignment:
          $ref: '#/components/schemas/Alignment'
        logoFooterBackgroundColor:
          type: string
        logoFooter:
          type: string
        tagline:
          type: string
        linkUrl:
          type: string
        linkColor:
          type: string
        textColor:
          type: string
        backgroundColor:
          type: string
        dataverse:
          $ref: '#/components/schemas/Dataverse'
    WorkflowServiceBean:
      type: object
      properties:
        em:
          type: object
        datasets:
          $ref: '#/components/schemas/DatasetServiceBean'
        dvObjects:
          $ref: '#/components/schemas/DvObjectServiceBean'
        settings:
          $ref: '#/components/schemas/SettingsServiceBean'
        roleAssignees:
          $ref: '#/components/schemas/RoleAssigneeServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        userNotificationService:
          $ref: '#/components/schemas/UserNotificationServiceBean'
        engine:
          $ref: '#/components/schemas/EjbDataverseEngine'
        dvRequestService:
          $ref: '#/components/schemas/DataverseRequestServiceBean'
        providers:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/WorkflowStepSPI'
    BannerMessageText:
      type: object
      properties:
        id:
          format: int64
          type: integer
        message:
          type: string
        lang:
          type: string
        bannerMessage:
          $ref: '#/components/schemas/BannerMessage'
    DatasetRelPublication:
      type: object
      properties:
        text:
          type: string
        idType:
          type: string
        idNumber:
          type: string
        url:
          type: string
        title:
          type: string
        description:
          type: string
        replicationData:
          type: boolean
        displayOrder:
          format: int32
          type: integer
        relationType:
          type: string
        empty:
          type: boolean
    BundleDownloadInstance:
      type: object
      properties:
        downloadInfo:
          $ref: '#/components/schemas/DownloadInfo'
        fileCitationEndNote:
          type: string
        fileCitationRIS:
          type: string
        fileDDIXML:
          type: string
        fileCitationBibtex:
          type: string
    SummaryStatisticType:
      enum:
      - MEAN
      - MEDN
      - MODE
      - MIN
      - MAX
      - STDEV
      - VALD
      - INVD
      type: string
    Type1:
      enum:
      - RETURN_TO_AUTHOR
      - WORKFLOW_SUCCESS
      - WORKFLOW_FAILURE
      type: string
    CustomQuestionValue:
      type: object
      properties:
        id:
          format: int64
          type: integer
        valueString:
          type: string
        displayOrder:
          format: int32
          type: integer
        customQuestion:
          $ref: '#/components/schemas/CustomQuestion'
    FailedPIDResolutionLoggingServiceBean:
      type: object
      properties:
        logFileName:
          type: string
    FileDownloadHelper:
      type: object
      properties:
        session:
          $ref: '#/components/schemas/DataverseSession'
        dvRequestService:
          $ref: '#/components/schemas/DataverseRequestServiceBean'
        permissionService:
          $ref: '#/components/schemas/PermissionServiceBean'
        fileDownloadService:
          $ref: '#/components/schemas/FileDownloadServiceBean'
        guestbookResponseService:
          $ref: '#/components/schemas/GuestbookResponseServiceBean'
        datafileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        globusService:
          $ref: '#/components/schemas/GlobusServiceBean'
        fileDownloadPermissionMap:
          type: object
          additionalProperties:
            type: boolean
        filesForRequestAccess:
          type: array
          items:
            $ref: '#/components/schemas/DataFile'
        selectedFileId:
          type: string
    ShibGroupProvider:
      type: object
      properties:
        shibGroupService:
          $ref: '#/components/schemas/ShibGroupServiceBean'
        groupProviderAlias:
          type: string
        groupProviderInfo:
          type: string
    DataverseRole:
      type: object
      properties:
        id:
          format: int64
          type: integer
        name:
          pattern: .+
          type: string
        description:
          maxLength: 255
          type: string
        alias:
          maxLength: 16
          pattern: '[a-zA-Z0-9\_\-]+'
          type: string
        permissionBits:
          format: int64
          type: integer
        owner:
          $ref: '#/components/schemas/DvObject'
        permissionsBits:
          format: int64
          type: integer
    UserBannerMessage:
      type: object
      properties:
        id:
          format: int64
          type: integer
        user:
          $ref: '#/components/schemas/AuthenticatedUser'
        bannerMessage:
          $ref: '#/components/schemas/BannerMessage'
        bannerDismissalTime:
          format: date
          type: string
          example: 2022-03-10
    DatasetLinkingDataverse:
      type: object
      properties:
        id:
          format: int64
          type: integer
        dataset:
          $ref: '#/components/schemas/Dataset'
        linkingDataverse:
          $ref: '#/components/schemas/Dataverse'
        linkCreateTime:
          format: date
          type: string
          example: 2022-03-10
    DatasetField:
      type: object
      properties:
        id:
          format: int64
          type: integer
        datasetFieldType:
          $ref: '#/components/schemas/DatasetFieldType'
        datasetVersion:
          $ref: '#/components/schemas/DatasetVersion'
        template:
          $ref: '#/components/schemas/Template'
        parentDatasetFieldCompoundValue:
          $ref: '#/components/schemas/DatasetFieldCompoundValue'
        datasetFieldCompoundValues:
          type: array
          items:
            $ref: '#/components/schemas/DatasetFieldCompoundValue'
        datasetFieldValues:
          type: array
          items:
            $ref: '#/components/schemas/DatasetFieldValue'
        controlledVocabularyValues:
          type: array
          items:
            $ref: '#/components/schemas/ControlledVocabularyValue'
        validationMessage:
          type: string
        required:
          type: boolean
        hasRequiredChildren:
          type: boolean
        include:
          type: boolean
        singleValue:
          $ref: '#/components/schemas/DatasetFieldValue'
        singleControlledVocabularyValue:
          $ref: '#/components/schemas/ControlledVocabularyValue'
        value:
          type: string
        displayValue:
          type: string
        rawValue:
          type: string
        compoundDisplayValue:
          type: string
        compoundRawValue:
          type: string
        values:
          type: array
          items:
            type: string
        rawValuesList:
          type: array
          items:
            type: string
        values_nondisplay:
          type: array
          items:
            type: string
        displayValues:
          type: array
          items:
            type: string
        valuesWithoutNaValues:
          type: array
          items:
            type: string
        empty:
          type: boolean
        emptyForDisplay:
          type: boolean
        hasRequiredChildrenDV:
          type: boolean
        dataverse:
          $ref: '#/components/schemas/Dataverse'
    SettingsWrapper:
      type: object
      properties:
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        fieldService:
          $ref: '#/components/schemas/DatasetFieldServiceBean'
        mdbService:
          $ref: '#/components/schemas/MetadataBlockServiceBean'
        mailServiceBean:
          $ref: '#/components/schemas/MailServiceBean'
        settingsMap:
          type: object
          additionalProperties:
            type: string
        guidesBaseUrl:
          type: string
        embargoDateChecked:
          type: boolean
        maxEmbargoDate:
          format: date
          type: string
          example: 2022-03-10
        retentionDateChecked:
          type: boolean
        minRetentionDate:
          format: date
          type: string
          example: 2022-03-10
        siteUrl:
          type: string
        rootDataverse:
          $ref: '#/components/schemas/Dataverse'
        guidesVersion:
          type: string
        appVersion:
          type: string
        appVersionWithBuildNumber:
          type: string
        shibPassiveLoginEnabled:
          type: boolean
        footerCopyrightAndYear:
          type: string
        cachedCvocMap:
          type: object
          additionalProperties: {}
        cachedCvocByTermFieldMap:
          type: object
          additionalProperties: {}
        cvocFieldSet:
          uniqueItems: true
          type: array
          items:
            format: int64
            type: integer
        zipDownloadLimit:
          format: int64
          type: integer
        publicInstall:
          type: boolean
        uploadMethodsCount:
          format: int32
          type: integer
        rsyncUpload:
          type: boolean
        rsyncDownload:
          type: boolean
        globusUpload:
          type: boolean
        globusDownload:
          type: boolean
        globusFileDownload:
          type: boolean
        globusAppUrl:
          type: string
        globusStoreList:
          type: array
          items:
            type: string
        httpUpload:
          type: boolean
        rsyncOnly:
          type: boolean
        webloaderUpload:
          type: boolean
        metricsUrl:
          type: string
        dataFilePIDSequentialDependent:
          type: boolean
        customLicenseAllowed:
          type: boolean
        systemMetadataBlocks:
          type: array
          items:
            $ref: '#/components/schemas/MetadataBlock'
        alwaysMuted:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Type'
        neverMuted:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Type'
        configuredLocales:
          type: object
          additionalProperties:
            type: string
        anonymizedFieldTypes:
          type: array
          items:
            type: string
        languageMap:
          type: object
          additionalProperties:
            type: string
        allowedExternalStatuses:
          type: array
          items:
            type: string
        alwaysMutedSet:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Type'
        neverMutedSet:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Type'
        showMuteOptions:
          type: boolean
        dataverseSiteUrl:
          type: string
        hTTPUpload:
          type: boolean
        supportTeamName:
          type: string
        supportTeamEmail:
          type: string
        rootDataverseThemeDisabled:
          type: boolean
        dropBoxKey:
          type: string
        hasDropBoxKey:
          type: boolean
        localesConfigured:
          type: boolean
        makeDataCountDisplayEnabled:
          type: boolean
        mDCStartDate:
          format: date
          type: string
          example: 2022-03-10
        minEmbargoDate:
          format: date
          type: string
          example: 2022-03-10
        embargoAllowed:
          type: boolean
        maxRetentionDate:
          format: date
          type: string
          example: 2022-03-10
        retentionAllowed:
          type: boolean
        defaultMetadataLanguage:
          type: string
    ConfirmEmailServiceBean:
      type: object
      properties:
        authenticationService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        mailService:
          $ref: '#/components/schemas/MailServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        em:
          type: object
    DataverseFieldTypeInputLevel:
      type: object
      properties:
        id:
          format: int64
          type: integer
        dataverse:
          $ref: '#/components/schemas/Dataverse'
        datasetFieldType:
          $ref: '#/components/schemas/DatasetFieldType'
        include:
          type: boolean
        required:
          type: boolean
        displayOnCreate:
          type: boolean
    TagType:
      enum:
      - Survey
      - TimeSeries
      - Panel
      - Event
      - Genomics
      - Network
      - Geospatial
      type: string
    AuthenticatedUserLookup:
      type: object
      properties:
        id:
          format: int64
          type: integer
        authenticationProviderId:
          type: string
        persistentUserId:
          type: string
        authenticatedUser:
          $ref: '#/components/schemas/AuthenticatedUser'
    DataverseFeaturedItemServiceBean:
      type: object
      properties:
        em:
          type: object
        fileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        permissionService:
          $ref: '#/components/schemas/PermissionServiceBean'
    GlobusServiceBean:
      type: object
      properties:
        datasetSvc:
          $ref: '#/components/schemas/DatasetServiceBean'
        settingsSvc:
          $ref: '#/components/schemas/SettingsServiceBean'
        session:
          $ref: '#/components/schemas/DataverseSession'
        dataverseRequestSvc:
          $ref: '#/components/schemas/DataverseRequestServiceBean'
        authSvc:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        commandEngine:
          $ref: '#/components/schemas/EjbDataverseEngine'
        userNotificationService:
          $ref: '#/components/schemas/UserNotificationServiceBean'
        privateUrlService:
          $ref: '#/components/schemas/PrivateUrlServiceBean'
        fileDownloadService:
          $ref: '#/components/schemas/FileDownloadServiceBean'
        dataFileSvc:
          $ref: '#/components/schemas/DataFileServiceBean'
        permissionSvc:
          $ref: '#/components/schemas/PermissionServiceBean'
        ingestSvc:
          $ref: '#/components/schemas/IngestServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        em:
          type: object
        rulesCache:
          type: object
        downloadCache:
          type: object
        executor:
          type: object
    DataverseFeaturedDataverse:
      type: object
      properties:
        id:
          format: int64
          type: integer
        dataverse:
          $ref: '#/components/schemas/Dataverse'
        featuredDataverse:
          $ref: '#/components/schemas/Dataverse'
        displayOrder:
          format: int32
          type: integer
    MailDomainGroupServiceBean:
      type: object
      properties:
        em:
          type: object
        confirmEmailSvc:
          $ref: '#/components/schemas/ConfirmEmailServiceBean'
        actionLogSvc:
          $ref: '#/components/schemas/ActionLogServiceBean'
        provider:
          $ref: '#/components/schemas/MailDomainGroupProvider'
        simpleGroups:
          type: array
          items:
            $ref: '#/components/schemas/MailDomainGroup'
        regexGroups:
          type: object
          additionalProperties: {}
    RunResultType:
      enum:
      - COMPLETED
      - COMPLETED_WITH_FAILURES
      - FAILURE
      - IN_PROGRESS
      - INTERRUPTED
      type: string
    SolrType:
      enum:
      - STRING
      - TEXT_EN
      - INTEGER
      - FLOAT
      - DATE
      - EMAIL
      type: string
    DifferenceSummaryGroup:
      type: object
      properties:
        displayName:
          type: string
        type:
          type: string
        differenceSummaryItems:
          type: array
          items:
            $ref: '#/components/schemas/DifferenceSummaryItem'
    CustomQuestionResponse:
      type: object
      properties:
        id:
          format: int64
          type: integer
        guestbookResponse:
          $ref: '#/components/schemas/GuestbookResponse'
        customQuestion:
          $ref: '#/components/schemas/CustomQuestion'
        response:
          type: string
        responseSelectItems:
          type: array
          items: {}
    AuthenticationServiceBean:
      type: object
      properties:
        authProvidersRegistrationService:
          $ref: '#/components/schemas/AuthenticationProvidersRegistrationServiceBean'
        builtinUserServiceBean:
          $ref: '#/components/schemas/BuiltinUserServiceBean'
        indexService:
          $ref: '#/components/schemas/IndexServiceBean'
        actionLogSvc:
          $ref: '#/components/schemas/ActionLogServiceBean'
        userNotificationService:
          $ref: '#/components/schemas/UserNotificationServiceBean'
        confirmEmailService:
          $ref: '#/components/schemas/ConfirmEmailServiceBean'
        passwordResetServiceBean:
          $ref: '#/components/schemas/PasswordResetServiceBean'
        userService:
          $ref: '#/components/schemas/UserServiceBean'
        passwordValidatorService:
          $ref: '#/components/schemas/PasswordValidatorServiceBean'
        dvObjSvc:
          $ref: '#/components/schemas/DvObjectServiceBean'
        roleAssigneeSvc:
          $ref: '#/components/schemas/RoleAssigneeServiceBean'
        gbRespSvc:
          $ref: '#/components/schemas/GuestbookResponseServiceBean'
        datasetVersionService:
          $ref: '#/components/schemas/DatasetVersionServiceBean'
        explicitGroupService:
          $ref: '#/components/schemas/ExplicitGroupServiceBean'
        savedSearchService:
          $ref: '#/components/schemas/SavedSearchServiceBean'
        privateUrlService:
          $ref: '#/components/schemas/PrivateUrlServiceBean'
        em:
          type: object
        oAuth2Providers:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/AbstractOAuth2AuthenticationProvider'
        authenticationProviderIds:
          uniqueItems: true
          type: array
          items:
            type: string
        authenticationProviders:
          type: array
          items:
            $ref: '#/components/schemas/AuthenticationProvider'
        orcidEnabled:
          type: boolean
        adminUser:
          $ref: '#/components/schemas/AuthenticatedUser'
        currentTimestamp:
          type: object
        availableOidcProviders:
          type: array
          items:
            $ref: '#/components/schemas/OIDCAuthProvider'
        orcidAuthenticationProvider:
          $ref: '#/components/schemas/OrcidOAuth2AP'
    PasswordResetServiceBean:
      type: object
      properties:
        dataverseUserService:
          $ref: '#/components/schemas/BuiltinUserServiceBean'
        mailService:
          $ref: '#/components/schemas/MailServiceBean'
        passwordValidatorService:
          $ref: '#/components/schemas/PasswordValidatorServiceBean'
        authService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        systemConfig:
          $ref: '#/components/schemas/SystemConfig'
        em:
          type: object
    RoleAssigneeDisplayInfo:
      type: object
      properties:
        title:
          type: string
        emailAddress:
          type: string
        affiliation:
          type: string
    ExternalTool:
      type: object
      properties:
        id:
          format: int64
          type: integer
        displayName:
          type: string
        toolName:
          type: string
        description:
          type: string
        externalToolTypes:
          type: array
          items:
            $ref: '#/components/schemas/ExternalToolType'
        scope:
          $ref: '#/components/schemas/Scope'
        toolUrl:
          type: string
        toolParameters:
          type: string
        contentType:
          type: string
        allowedApiCalls:
          type: string
        requirements:
          type: string
        exploreTool:
          type: boolean
        queryTool:
          type: boolean
        previewTool:
          type: boolean
        descriptionLang:
          type: string
        displayNameLang:
          type: string
    PermissionServiceBean:
      type: object
      properties:
        userService:
          $ref: '#/components/schemas/BuiltinUserServiceBean'
        authenticationService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        roleService:
          $ref: '#/components/schemas/DataverseRoleServiceBean'
        roleAssigneeService:
          $ref: '#/components/schemas/RoleAssigneeServiceBean'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        dvObjectServiceBean:
          $ref: '#/components/schemas/DvObjectServiceBean'
        workflowService:
          $ref: '#/components/schemas/WorkflowServiceBean'
        em:
          type: object
        groupService:
          $ref: '#/components/schemas/GroupServiceBean'
        session:
          $ref: '#/components/schemas/DataverseSession'
        dvRequestService:
          $ref: '#/components/schemas/DataverseRequestServiceBean'
        datasetVersionFilesServiceBean:
          $ref: '#/components/schemas/DatasetVersionFilesServiceBean'
    ExplicitGroupProvider:
      type: object
      properties:
        explicitGroupSvc:
          $ref: '#/components/schemas/ExplicitGroupServiceBean'
        roleAssigneeSvc:
          $ref: '#/components/schemas/RoleAssigneeServiceBean'
        groupProviderAlias:
          type: string
        groupProviderInfo:
          type: string
    AuthenticatedUser:
      required:
      - userIdentifier
      - email
      - lastName
      - firstName
      type: object
      properties:
        id:
          format: int64
          type: integer
        userIdentifier:
          type: string
        email:
          type: string
        affiliation:
          type: string
        position:
          type: string
        lastName:
          pattern: \S
          type: string
        firstName:
          pattern: \S
          type: string
        emailConfirmed:
          type: object
        createdTime:
          type: object
        lastLoginTime:
          type: object
        lastApiUseTime:
          type: object
        cart:
          $ref: '#/components/schemas/Cart'
        superuser:
          type: boolean
        deactivated:
          type: boolean
        deactivatedTime:
          type: object
        mutedEmails:
          type: string
        mutedNotifications:
          type: string
        mutedEmailsSet:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Type'
        mutedNotificationsSet:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Type'
        rateLimitTier:
          format: int32
          minimum: 1
          type: integer
        authenticatedOrcid:
          type: string
        shibIdentityProvider:
          type: string
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/UserNotification'
        requests:
          type: array
          items:
            $ref: '#/components/schemas/UserNotification'
        datasetLocks:
          type: array
          items:
            $ref: '#/components/schemas/DatasetLock'
        oAuth2TokenDatas:
          type: array
          items:
            $ref: '#/components/schemas/OAuth2TokenData'
        fileAccessRequests:
          type: array
          items:
            $ref: '#/components/schemas/FileAccessRequest'
        roles:
          type: string
        authProviderId:
          type: string
        authProviderFactoryAlias:
          type: string
        authenticatedUserLookup:
          $ref: '#/components/schemas/AuthenticatedUserLookup'
        identifier:
          type: string
        userNotifications:
          type: array
          items:
            $ref: '#/components/schemas/UserNotification'
        userRequests:
          type: array
          items:
            $ref: '#/components/schemas/UserNotification'
        userRequestss:
          type: array
          items:
            $ref: '#/components/schemas/UserNotification'
        requestedDataFiles:
          type: array
          items:
            $ref: '#/components/schemas/DataFile'
        displayInfo:
          $ref: '#/components/schemas/AuthenticatedUserDisplayInfo'
        authenticated:
          type: boolean
        name:
          type: string
        sortByString:
          type: string
    SolrIndexServiceBean:
      type: object
      properties:
        dvObjectService:
          $ref: '#/components/schemas/DvObjectServiceBean'
        searchPermissionsService:
          $ref: '#/components/schemas/SearchPermissionsServiceBean'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        datasetVersionService:
          $ref: '#/components/schemas/DatasetVersionServiceBean'
        rolesSvc:
          $ref: '#/components/schemas/DataverseRoleServiceBean'
        solrClientService:
          $ref: '#/components/schemas/SolrClientIndexService'
        em:
          type: object
    FileDownloadServiceBean:
      type: object
      properties:
        em:
          type: object
        guestbookResponseService:
          $ref: '#/components/schemas/GuestbookResponseServiceBean'
        datasetService:
          $ref: '#/components/schemas/DatasetServiceBean'
        datasetVersionService:
          $ref: '#/components/schemas/DatasetVersionServiceBean'
        datafileService:
          $ref: '#/components/schemas/DataFileServiceBean'
        permissionService:
          $ref: '#/components/schemas/PermissionServiceBean'
        dataverseService:
          $ref: '#/components/schemas/DataverseServiceBean'
        userNotificationService:
          $ref: '#/components/schemas/UserNotificationServiceBean'
        authService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        mailService:
          $ref: '#/components/schemas/MailServiceBean'
        session:
          $ref: '#/components/schemas/DataverseSession'
        commandEngine:
          $ref: '#/components/schemas/EjbDataverseEngine'
        dvRequestService:
          $ref: '#/components/schemas/DataverseRequestServiceBean'
        fileDownloadHelper:
          $ref: '#/components/schemas/FileDownloadHelper'
        mdcLogService:
          $ref: '#/components/schemas/MakeDataCountLoggingServiceBean'
    JsonLDTerm:
      type: object
      properties:
        namespace:
          $ref: '#/components/schemas/JsonLDNamespace'
        term:
          type: string
        url:
          type: string
        label:
          type: string
    ImageFormat:
      enum:
      - SQUARE
      - RECTANGLE
      type: string
    AuthenticationProvidersRegistrationServiceBean:
      type: object
      properties:
        builtinUserServiceBean:
          $ref: '#/components/schemas/BuiltinUserServiceBean'
        passwordValidatorService:
          $ref: '#/components/schemas/PasswordValidatorServiceBean'
        actionLogSvc:
          $ref: '#/components/schemas/ActionLogServiceBean'
        authenticationService:
          $ref: '#/components/schemas/AuthenticationServiceBean'
        settingsService:
          $ref: '#/components/schemas/SettingsServiceBean'
        providerFactories:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AuthenticationProviderFactory'
        authenticationProviders:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AuthenticationProvider'
        oAuth2authenticationProviders:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AbstractOAuth2AuthenticationProvider'
        em:
          type: object
        orcidProvider:
          $ref: '#/components/schemas/AuthenticationProvider'
        oAuth2AuthProvidersMap:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AbstractOAuth2AuthenticationProvider'
        authenticationProvidersMap:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AuthenticationProvider'
        providerFactoriesMap:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AuthenticationProviderFactory'
    StorageIODataFile:
      type: object
      properties:
        isReadAccess:
          type: boolean
        isWriteAccess:
          type: boolean
        req:
          $ref: '#/components/schemas/DataAccessRequest'
        in:
          format: binary
          type: string
        out:
          type: object
        channel:
          type: object
        dvObject:
          $ref: '#/components/schemas/DataFile'
        driverId:
          type: string
        size:
          format: int64
          type: integer
        offset:
          format: int64
          type: integer
        mimeType:
          type: string
        fileName:
          type: string
        varHeader:
          type: string
        errorMessage:
          type: string
        temporarySwiftUrl:
          type: string
        tempUrlExpiry:
          type: string
        tempUrlSignature:
          type: string
        swiftContainerName:
          type: string
        isLocalFile:
          type: boolean
        noVarHeader:
          type: boolean
        isZippedStream:
          type: boolean
        isDownloadSupported:
          type: boolean
        isSubsetSupported:
          type: boolean
        swiftFileName:
          type: string
        remoteUrl:
          type: string
        remoteStoreName:
          type: string
        remoteStoreUrl:
          type: object
        storageLocation:
          type: string
        fileSystemPath:
          type: array
        writeChannel:
          type: object
        readChannel:
          type: object
        dataFile:
          $ref: '#/components/schemas/DataFile'
        dataset:
          $ref: '#/components/schemas/Dataset'
        dataverse:
          $ref: '#/components/schemas/Dataverse'
        request:
          $ref: '#/components/schemas/DataAccessRequest'
        inputStream:
          format: binary
          type: string
        outputStream:
          type: object
        localFile:
          type: boolean
        directAccess:
          type: boolean
        downloadSupported:
          type: boolean
        subsetSupported:
          type: boolean
        zippedStream:
          type: boolean
[...]
