openapi: 3.0.3
info:
  title: Dataverse Access Info API
  description: Open source research data repository software.
  version: '6.8'
servers:
- url: https://dataverse.unc.edu/api
  description: UNC Dataverse production instance
tags:
- name: Info
paths:
  /info/metrics/accounts:
    get:
      operationId: Metrics_getAccountsAllTime
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/accounts/monthly:
    get:
      operationId: Metrics_getAccountsTimeSeries
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/accounts/pastDays/{days}:
    get:
      operationId: Metrics_getAccountsPastDays
      parameters:
      - name: days
        in: path
        required: true
        schema:
          format: int32
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/accounts/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getAccountsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/datasets:
    get:
      operationId: Metrics_getDatasetsAllTime
      parameters:
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/datasets/bySubject:
    get:
      operationId: Metrics_getDatasetsBySubject
      parameters:
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/datasets/bySubject/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getDatasetsBySubjectToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/datasets/monthly:
    get:
      operationId: Metrics_getDatasetsTimeSeriest
      parameters:
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/datasets/pastDays/{days}:
    get:
      operationId: Metrics_getDatasetsPastDays
      parameters:
      - name: days
        in: path
        required: true
        schema:
          format: int32
          type: integer
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/datasets/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getDatasetsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: dataLocation
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/dataverses:
    get:
      operationId: Metrics_getDataversesAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/dataverses/byCategory:
    get:
      operationId: Metrics_getDataversesByCategory
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/dataverses/bySubject:
    get:
      operationId: Metrics_getDataversesBySubject
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/dataverses/monthly:
    get:
      operationId: Metrics_getDataversesTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/dataverses/pastDays/{days}:
    get:
      operationId: Metrics_getDataversesPastDays
      parameters:
      - name: days
        in: path
        required: true
        schema:
          format: int32
          type: integer
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/dataverses/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getDataversesToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/downloads:
    get:
      operationId: Metrics_getDownloadsAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/downloads/monthly:
    get:
      operationId: Metrics_getDownloadsTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/downloads/pastDays/{days}:
    get:
      operationId: Metrics_getDownloadsPastDays
      parameters:
      - name: days
        in: path
        required: true
        schema:
          format: int32
          type: integer
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/downloads/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getDownloadsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/filedownloads:
    get:
      operationId: Metrics_getFileDownloadsAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/filedownloads/monthly:
    get:
      operationId: Metrics_getFileDownloadsTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/filedownloads/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getFileDownloadsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/files:
    get:
      operationId: Metrics_getFilesAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/files/byType:
    get:
      operationId: Metrics_getFilesByType
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/files/byType/monthly:
    get:
      operationId: Metrics_getFilesByTypeTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/files/monthly:
    get:
      operationId: Metrics_getFilesTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/files/pastDays/{days}:
    get:
      operationId: Metrics_getFilesPastDays
      parameters:
      - name: days
        in: path
        required: true
        schema:
          format: int32
          type: integer
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/files/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getFilesToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/makeDataCount/{metric}:
    get:
      operationId: Metrics_getMakeDataCountMetricCurrentMonth
      parameters:
      - name: metric
        in: path
        required: true
        schema:
          type: string
      - name: country
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/makeDataCount/{metric}/monthly:
    get:
      operationId: Metrics_getMakeDataCountMetricTimeSeries
      parameters:
      - name: metric
        in: path
        required: true
        schema:
          type: string
      - name: country
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/makeDataCount/{metric}/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getMakeDataCountMetricToMonth
      parameters:
      - name: metric
        in: path
        required: true
        schema:
          type: string
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: country
        in: query
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/tree:
    get:
      operationId: Metrics_getDataversesTree
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/tree/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getDataversesTreeToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/uniquedownloads:
    get:
      operationId: Metrics_getUniqueDownloadsAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/uniquedownloads/monthly:
    get:
      operationId: Metrics_getUniqueDownloadsTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/uniquedownloads/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getUniqueDownloadsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/uniquefiledownloads:
    get:
      operationId: Metrics_getUniqueFileDownloadsAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/uniquefiledownloads/monthly:
    get:
      operationId: Metrics_getUniqueFileDownloadsTimeSeries
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/metrics/uniquefiledownloads/toMonth/{yyyymm}:
    get:
      operationId: Metrics_getUniqueFileDownloadsToMonth
      parameters:
      - name: yyyymm
        in: path
        required: true
        schema:
          type: string
      - name: parentAlias
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Info
  /info/apiTermsOfUse:
    get:
      tags:
      - Info
      operationId: Info_getTermsOfUse
      responses:
        '200':
          description: OK
  /info/applicationTermsOfUse:
    get:
      tags:
      - Info
      operationId: Info_getApplicationTermsOfUse
      parameters:
      - name: lang
        in: query
        description: Two-character language code.
        required: false
        schema:
          type: string
        example: en
      responses:
        '200':
          description: Application Terms of Use (General Terms of Use) that must be agreed to at signup.
  /info/exportFormats:
    get:
      tags:
      - Info
      operationId: Info_getExportFormats
      responses:
        '200':
          description: OK
  /info/server:
    get:
      tags:
      - Info
      operationId: Info_getServer
      responses:
        '200':
          description: OK
  /info/settings/:DatasetPublishPopupCustomText:
    get:
      tags:
      - Info
      operationId: Info_getDatasetPublishPopupCustomText
      responses:
        '200':
          description: OK
  /info/settings/:MaxEmbargoDurationInMonths:
    get:
      tags:
      - Info
      operationId: Info_getMaxEmbargoDurationInMonths
      responses:
        '200':
          description: OK
  /info/settings/customization/{customizationFileType}:
    get:
      tags:
      - Info
      operationId: Info_getCustomizationFile
      parameters:
      - name: customizationFileType
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /info/settings/incompleteMetadataViaApi:
    get:
      tags:
      - Info
      operationId: Info_getAllowsIncompleteMetadata
      responses:
        '200':
          description: OK
  /info/version:
    get:
      tags:
      - Info
      summary: Get version and build information
      description: Get version and build information
      operationId: Info_getInfo
      responses:
        '200':
          description: Version and build information
  /info/zipDownloadLimit:
    get:
      tags:
      - Info
      operationId: Info_getZipDownloadLimit
      responses:
        '200':
          description: OK
