openapi: 3.0.3
info:
  title: Dataverse Access Users API
  description: Open source research data repository software.
  version: '6.8'
servers:
- url: https://dataverse.unc.edu/api
  description: UNC Dataverse production instance
tags:
- name: Users
paths:
  /users/:me:
    get:
      operationId: Users_getAuthenticatedUserByToken
      responses:
        '200':
          description: OK
      tags:
      - Users
  /users/register:
    post:
      operationId: Users_registerOIDCUser
      responses:
        '200':
          description: OK
      tags:
      - Users
  /users/token:
    get:
      operationId: Users_getTokenExpirationDate
      responses:
        '200':
          description: OK
      tags:
      - Users
    delete:
      operationId: Users_deleteToken
      responses:
        '200':
          description: OK
      tags:
      - Users
  /users/token/recreate:
    post:
      operationId: Users_recreateToken
      parameters:
      - name: returnExpiration
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Users
  /users/{consumedIdentifier}/mergeIntoUser/{baseIdentifier}:
    post:
      operationId: Users_mergeInAuthenticatedUser
      parameters:
      - name: baseIdentifier
        in: path
        required: true
        schema:
          type: string
      - name: consumedIdentifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Users
  /users/{identifier}/allowedCollections/{permission}:
    get:
      operationId: Users_getUserPermittedCollections
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: permission
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Users
  /users/{identifier}/changeIdentifier/{newIdentifier}:
    post:
      operationId: Users_changeAuthenticatedUserIdentifier
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: newIdentifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Users
  /users/{identifier}/removeRoles:
    post:
      operationId: Users_removeUserRoles
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Users
  /users/{identifier}/traces:
    get:
      operationId: Users_getTraces
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Users
  /users/{identifier}/traces/{element}:
    get:
      operationId: Users_getTracesElement
      parameters:
      - name: element
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Users
